<nav class="site-nav">
  <ul>
    <li>
      <a class="page-link" href="{{ "/" | relative_url }}">Accueil</a>
    </li>
    {%- assign page_paths = site.pages | map: "path" -%}
    {%- if page_paths -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li>
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </ul>
</nav>
