@import "variables";

/* ==========================================================================
Styles de base
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $light;
  color: $gray-700;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

h1,
h2,
h3,
h4 {
  color: $secondary;
  font-family: $title-font;
  font-weight: 700;
}

h1 {
  margin: 0.2rem 0;
}

h2 {
  margin: 0.1rem 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

blockquote {
  border-left: 3px solid $primary;
  color: $primary;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 1rem 3rem;
  quotes: "“" "”" "‘" "’";

  p {
    margin: 1rem;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: lighten($primary, 10%);
    text-decoration: underline;
  }
}

/* ==========================================================================
Entête
========================================================================== */

.site-header {
  background-color: $light;
  border-bottom: 2px $gray-300 solid;
  display: flex;
  justify-content: flex-start;
  padding: 0.6em;
}

.site-title {
  color: $primary;
  display: block;
  font-family: $title-font;
  font-size: 1.2em;
  margin: 0 0.2em;
  text-decoration: none;
}

.site-description {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin: 0.15rem 0.4rem;
}

/* ==========================================================================
Bloc de navigation
========================================================================== */

.site-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0.5em 0;
  }

  a {
    color: $gray-400;
    font-variant: small-caps;
    text-decoration: none;
    &:hover {
      border-bottom: 1.5px solid $gray-500;
    }
  }
}

/* ==========================================================================
Contenu de la page
========================================================================== */

.page-content {
  margin: 1em auto 4em auto;
  padding: 1em;

  h2 {
    color: $primary;
    font-variant: small-caps;
  }
}

.post-list {
  list-style: none;
  padding-left: 0.6em;

  h3 {
    margin-top: 0;
  }
}

.post-meta {
  color: $gray-400;
  font-size: 0.8em;
}

.post-link {
  color: $primary;
  font-weight: bolder;
  font-variant: small-caps;
  text-decoration: none;
}

.post-content {
  text-align: justify;

  img {
    width: 100%;
  }
}

/* ==========================================================================
Pied de page
========================================================================== */

.site-footer {
  background-color: $secondary;
  color: $light;
  font-family: $title-font;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0.8rem 0;
  }

  li {
    margin: 0 0.3rem;
  }
}

.author-email {
  color: $light;
  font-style: italic;
}

/* ==========================================================================
Responsive Design
========================================================================== */

/* Mobile */
@media only screen and (max-width: 400px) {
  .site-nav {
    font-size: 0.7em;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    li {
      margin: 0.2em;
      max-width: 100px;
    }
  }

  .page-content {
    margin: 0 auto 4em auto;
    width: 95%;
  }
}

/* Tablette */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .site-nav {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    li {
      margin: 0.5em;
      max-width: 200px;
    }
  }

  .page-content {
    width: 95%;
  }
}

/* Bureau */
@media only screen and (min-width: 961px) {
  .site-nav {
    padding: 0;
    position: fixed;
    right: 0;
    top: 4em;
    width: 10%;
  }

  .page-content {
    width: 75%;
  }
}
