---
layout: default
---

{%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <h1>{{ page.list_title | default: "Posts" }}</h1>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | localize: date_format }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        <p class="post-read-more"><a href="{{ post.url | relative_url }}">Lire la suite &hellip;</a></p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- else -%}
  <h1>Site en construction</h1>
  <p>Patience, il y aura bientôt de quoi lire sur ce site !</p>
{%- endif -%}
