@import "variables";

/* ==========================================================================
Styles de base
========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background: $light;
  color: $gray-700;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

h1,
h2,
h3,
h4 {
  color: $secondary;
  font-family: $title-font;
  font-weight: 700;
}

h1 {
  margin: 0.2rem 0;
}

h2 {
  color: $primary;
  font-variant: small-caps;
  margin: 0.1rem 0;
}

h3 {
  color: lighten($primary, 15%);
  font-variant: small-caps;
  margin: 0.1rem 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: lighten($primary, 10%);
    text-decoration: underline;
  }
}

blockquote {
  border-left: 3px solid $primary;
  color: $primary;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 1rem 1.5rem;
  quotes: "“" "”" "‘" "’";

  p {
    margin: 1rem;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

/* ==========================================================================
Entête
========================================================================== */

.site-header {
  border-bottom: 2px $gray-300 solid;
  padding: 0.2rem;
  h1 {
    font-size: 1rem;
    margin: 0;
  }
  p {
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 0;
  }
}

/* ==========================================================================
Navigation
========================================================================== */

.site-nav {
  border-bottom: 1px $gray-300 solid;
  font-variant: small-caps;
  padding: 0.1rem;
  font-size: 0.7rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    margin: 0 0.2rem;
  }
  a {
    color: $gray-400;
  }
}

/* ==========================================================================
Contenu de la page
========================================================================== */

.page-content {
  padding: 1rem 1.2rem;
  min-height: 89vh;

  p {
    text-align: justify;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 90%;

    &.small-img {
      width: 200px;
      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
    }
  }
}

/* ==========================================================================
Pied de page
========================================================================== */

.site-footer {
  background-color: $secondary;
  color: $light;
  font-family: $title-font;
  font-size: 0.8rem;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
  }
  li {
    margin: 0 0.2rem;
  }
}

/* ==========================================================================
Page d'accueil
========================================================================== */

.post-list {
  list-style: none;
  padding-left: 0;
}

p.post-read-more {
  text-align: right;
}

/* ==========================================================================
Articles
========================================================================== */

.post-meta {
  color: $gray-400;
  font-size: 0.8em;
}

/* ==========================================================================
Responsive Design
========================================================================== */

@media only screen and (min-width: 401px) {
  .site-header {
    display: flex;
    justify-content: flex-start;

    p {
      margin-left: 1rem;
    }
  }
}

@media only screen and (min-width: 961px) {
  .site-header {
    background-color: $light;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .site-nav {
    background-color: $light;
    position: fixed;
    top: 2rem;
    width: 100%;
  }

  .page-content {
    margin: 4rem auto 1rem auto;
    width: 960px;
  }
}

@media only screen and (min-width: 1301px) {
  .site-nav {
    background-color: $light;
    border-bottom: none;
    font-size: 1rem;
    max-width: 200px;
    min-width: 120px;
    padding-right: 0.6rem;
    position: fixed;
    right: 0;
    top: 3rem;
    width: auto;

    ul {
      flex-direction: column;
    }
  }

  .page-content {
    margin-top: 2rem;
  }
}
